<body style="background-color: #F2F2F2;">


    <div class="dropdown">

      <button class="dropbtn" style="background-color: #72726D;"> Menu </button>
      
      <div class="dropdown-content">
       
        <a href="Perfil"> Perfil </a>
        <a href="visitantes"> Visitantes </a>
        <a href="servicios"> Servicios </a>
        <a href="home-page"> Logout </a>
      
    </div>
    </div>
    <div id="imagenlogin">
        <img src="../assets/image/segurityhome.png" width="50%" height="50%" style="margin-top: 10%;">      
      </div>
      <h1 style="text-align: center;"> Bienvenido a segurityhome</h1>






</body>